*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.grid-container {
  /* font-family: 'proxima-nova', sans-serif; */
  font-family: Trebuchet MS;
  display: grid;
  background: linear-gradient(#2c2a2adc, black);
  /* background: linear-gradient(#5c2370, black); */
  /* background: linear-gradient(#2e3c60, black); */
  /* background: black; */
  grid-template-columns: 0.14fr 1.5fr;
  grid-template-rows: 0.2fr 2.4fr 0.32fr;
  gap: 5px 5px;
  grid-template-areas:
    "SideBar Header"
    "SideBar MainBody"
    "MediaPlayer MediaPlayer";
  width: 100vw;
  height: 100vh;
}

.grid-container-explore {
  font-family: Trebuchet MS;
  display: grid;
  /* background-color: #3b1649; */
  background: linear-gradient(#68788F, black);
  grid-template-columns: 0.14fr 1.5fr;
  grid-template-rows: 0.2fr 2.4fr 0.32fr;
  gap: 5px 5px;
  grid-template-areas:
    "SideBar Header"
    "SideBar MainBody"
    "MediaPlayer MediaPlayer";
  width: 100vw;
  height: 100vh;
}

.MainBody { grid-area: MainBody; }

.Header { grid-area: Header; }

.SideBar { grid-area: SideBar; }

.MediaPlayer { grid-area: MediaPlayer; }



/* HEADER FOR NAV BAR */
.Header{
  border-style: none none solid none;
  margin-left: 0;
  border-color: rgb(80, 78, 78);
  border-width: .1em;
}
.yourSongs{
  /* font-family: Optima, sans-serif; */
  font-size: 2.6em;
  color: #ffffff;
  /* font-weight: 400; */
  margin-top: -1em;
}

/* HEADER FOR NAV BAR */




/* Main Body */

.MainBody{
  /* display: flex; */
  /* justify-content: space-between; */
  /* flex-direction: column; */
  color: #ffffff;
  max-width: 75%;
}

.headings{
  /* display: flex; */
  /* justify-content: space-between; */
  font-size: 1.75em;
  font-weight: 700;
  margin-bottom: 1.25em;
  margin-top: .5em;
}



.songLists{
  display: flex;
  margin-bottom: 1.25em;
  font-size: 1.1em;
  /* justify-content: space-between; */
  /* align-content: flex-start; */
  /* align-items: center; */
}

.deleteHeader{
  margin-left: 23em;
}

.songNumHeader{
  margin-right: .5em;
  margin-left: .8em;
}

.songNum{
  margin-left: 1.5em;
  margin-right: 1.25em;
}

.songDiv{
  display: flex;
}

#removeSong{
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-size: 1em;
  margin-left: 1em;
  /* margin-top: 1em; */
}
#removeSong:hover{
  color: lightcoral;
}


/* Main Body */

/* splash page */
.splashPagePic{
  background-image: url('https://user-images.githubusercontent.com/75585372/118061455-f431bf80-b362-11eb-81d5-cd37b2846a25.png');
  background-color: rgb(161, 156, 156);
  width: 100vw;
  height: 100vh;
}

.boxLoggedOut{
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  background-color: white;
  width: 10em;
  height: 10em;
}

.buttonsLoggedOut{
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
}
/* splash page */


/* sideBar */
.SideBar{
  font-family: Trebuchet MS;
  /* background: linear-gradient(#2c2a2a, black); */
  background: linear-gradient(#2c2a2adc, black);
  /* background: black; */
  color: white;
  border-style: none solid none none;
  border-color: rgb(80, 78, 78);
  border-width: .1em;
}
.SideBar a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  color: white;
  font-size: 1em;
  font-weight: 300;
}
#homeIcon, #exploreIcon{
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: .4em;
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-size: 1.4em;
}

#homeText, #exploreText{
  font-family: Trebuchet MS;
}

#uploadIcon {
  margin-top: 1em;
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-size: 1.4em;
  margin-left: 1rem;
  margin-right: 1rem;
}

#uploadIcon:hover{
  color: lightgray;
}

#logoutButton{
  margin-top: 1em;
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-size: 1.4em;
  margin-left: 1rem;
  margin-right: 1rem;
}

#logoutButton:hover{
  color: lightgray;
}

.uploadlogout{
  display: flex;
  justify-content: flex-end;
}
/* sideBar */


/* Media Bar */
.MediaPlayer{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(24,24,24); */
  background: black;
  border-style: solid none none none;
  border-color: rgb(80, 78, 78);
  border-width: .1em;
}
#playButton, #pauseButton{
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-size: 2.3em;
  /* margin-top: .5em; */
  margin-left: 1rem;
  margin-right: 1rem;
}
#previousSong, #nextSong{
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-size: 1.75em;
}

#music-bar{
  background-color: white;
  display: flex;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: .3rem;
  border: solid rgba(17, 17, 17, 0.801);
  border-radius: .35em;
}

.controller-wrap{
  display: flex;
  justify-content: center;
}

.currentDuration, .songDuration{
  color: white;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: transparent;
  text-decoration: none;
}

#progress {
  margin-left: 80px;
  border: 1px solid black;
  cursor: pointer;
}


/* Media Bar */
