
.homeLink{
  display: inline-block;
  position: relative;
}


.profile-dropdown {
  display: inline-block;
  position: relative;
}

 .buttonRender{
  display: flex;
  justify-content: flex-end;
}

#logoutButton{
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-size: 1.4em;
  margin-left: 1rem;
  margin-right: 1rem;
}
